//-------------------------------------------------------
// GRID SETTINGS
//-------------------------------------------------------

// this is the fixed gutter between columns
$gutter: 3em;

// this sets your class names
$grid-wrap-class: grid-wrap;
$grid-col-class: grid-col;

//-------------------------------------------------------
// GRID MIXINS
//-------------------------------------------------------
$half-gutter : $gutter / 2;

@mixin grid-config {

	.#{$grid-wrap-class} {    
	    margin-left: -$gutter; /* the same as your gutter */
	    overflow: hidden;
	    clear: both; }
	   
	.#{$grid-col-class} {
	    float: left;
	    padding-left: $gutter; /* this is your gutter between columns */
	    width: 100%;
	    -webkit-box-sizing: border-box;
	       -moz-box-sizing: border-box;
	            box-sizing: border-box; }
	
	.half-gutter {
		margin-left: -$half-gutter;
	
		.#{$grid-col-class} {
			padding-left: $half-gutter; }
	
	}	

}	

// set the proportions you want to use
// namespace relates to the class prefix e.g. mq2-col to target media query 2
@mixin grid-setup($namespace) {

	.#{$namespace}-full         	{ width: 100%; }
	.#{$namespace}-one-half         { width: 50%; }
	.#{$namespace}-one-third        { width: 33.333%; }
	.#{$namespace}-two-thirds       { width: 66.666%; }
	.#{$namespace}-one-quarter      { width: 25%; }
	.#{$namespace}-three-quarters   { width: 75%; }
	
}

// account for no border-box in ie6/7
@mixin grid-config-oldie {

	.oldie {
		.#{$grid-wrap-class} {
			margin-left: 0; }
		
		.#{$grid-col-class} {
			padding: 0;
			margin-left: 5%;
			
			&:first-child {
				margin-left: 0; }		
		}
	}
	
}

// amend these widths for ie6/7
@mixin grid-setup-oldie($namespace) {

	.#{$namespace}-full         	{ width: 99.95%; }
	.#{$namespace}-one-half         { width: 47.45%; }
	.#{$namespace}-one-third        { width: 29.55%; }
	.#{$namespace}-two-thirds       { width: 64.95%; }
	.#{$namespace}-one-quarter      { width: 19.95%; }
	.#{$namespace}-three-quarters   { width: 74.95%; }
	
}