/*
Author  : Boon
URL     : http://builtbyboon.com
Twitter	: http://twitter.com/mattberridge
---------------------------------------*/
@import "grids";

// repeat for each set of grids you have
@include setup-grid("mq1-col");
@include setup-grid("mq2-col");
@include setup-grid("mq3-col");

/* -- Fix old IE
------------------------------------------------------------- */			
.lt-ie9 .container, {
	width: 960px; }
	
@include fix-oldie();
// repeat for each set of grids you have
@include oldie-grid("oldie .col");
@include oldie-grid("oldie .mq1-col");
@include oldie-grid("oldie .mq2-col");
@include oldie-grid("oldie .mq3-col");